 {{!-- <script id="homepage" type="text/x-handlebars-template"></script> --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></link>
  <link rel="stylesheet" href="../css/style.css"></link>

  <title>codeAbode</title>
</head>


<body>
  <h1>hello world</h1>


  <script src="../public/js/homepage.js"></script>
</body>

</html>


 <!-- Navbar bootstrap -->
  {{!-- <header>
    <div id="homepage" action="/" class="advanced-homepage">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">codeAbode</a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/views/homepage.handlebars">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/profile.handlebars">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/login.handlebars">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/signup.handlebars" tabindex="-1">Sign-up</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                  src="https://www.youtube.com/embed/Bv_5Zv5c-Ts?si=d0_fhFaiQo9Zwf3t" allowfullscreen></iframe>
              </div>
            </div>
            <div class="carousel-item">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                  src="https://www.youtube.com/embed/hzua5AcmhMo?si=t4JjMoc2iCoqjwPz" allowfullscreen></iframe>
              </div>
            </div>
            <div class="carousel-item">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                  src="https://www.youtube.com/embed/0Hu27PoloYw?si=01TATJMMNlAoS_Ga" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      {{#each posts}}
      <div class="col-md-5 post" id="post-1">
        <div class="card-body" ></div>
        <label class="post-title">Featured Post: {{this.postTitle}}</labek>
        <p class="post-content">{{this.postContent}}</p>
        <div class="card-body" >
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Create New Post</a>
        </div>



        <h3 class="comment-section-title">Comments</h3>
         <ol id="comment-section-1" class="comment-section">
            <h3 class="comment-section-title">Comments</h3>

          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto comment">
              <div class="comment_text">{{comment.content}}</div>
              This is Comment Content
            </div>



            <span class="badge bg-primary rounded-pill">0</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Comment 2</div>
              This is Comment Content
            </div>
            <span class="badge bg-primary rounded-pill">0</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Comment 3</div>
              This is Comment Content
            </div>
            <span class="badge bg-primary rounded-pill">0</span>
          </li>
        </ol>
        
        <label for="formGroupExampleInput" class="form-label">What do you think?</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Thoughts and Opinions">
        <button type="button" class="btn btn-secondary btn-sm">Submit</button>
      </div>
    </div>
  </div>

  {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" --}}
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="../js/homepage"></script> --}}
