<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title href="/signup.js">Signup</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="bg-primary text-white text-center py-3">
        <h1> Welcome to codeAbode</h1>
    </header>

    <main class="container my-5">
        <section class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Sign Up to join our community!</h2>
                <form action="/signup.js" method="POST" class="signup-form">
                    <div class="mb-3">
                        <label for="exampleInputUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="exampleInputUsername" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary signup-submit">Submit</button>
                </form>
            </div>
        </section>
    </main>

    <footer class="bg-light text-center py-3">
        <p>Thank you for visiting!</p>
    </footer>

    <script src="../js/homepage.js"></script>
    <script src="../js/signup.js"></script>
    <script src="../js/comments.js"></script>
    <script src="../css/jass.css"></script>
</body>

</html>